/* AboutUs.css */

.about-contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  background-image: linear-gradient(0deg, #001b32, #193d47, #001b32);
  min-height: 100vh;
  gap: 20px;
}

.about-us-panel, .contact-us-panel {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.about-us-panel {
  flex: 0 0 60%;
  max-height: 80vh; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  background-image: linear-gradient(0deg, #001b32);
}

.contact-us-panel {
  flex: 0 0 40%;
}

.about-us {
  max-width: 800px;
  margin: 0 auto;
}

.about-us h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
}

.about-us p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 20px;
}

.contact-us {
  max-width: 800px;
  margin: 0 auto;
}

/* Responsive design */
@media (max-width: 768px) {
  .about-contact-container {
    flex-direction: column;
    padding: 10px;
  }

  .about-us-panel, .contact-us-panel {
    width: 100%;
    padding: 15px;
  }

  .about-us-panel {
    max-height: none; /* Remove fixed height on smaller screens */
    overflow-y: visible; /* Disable scrolling on smaller screens */
  }
}
