.edit-blogs {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-image: linear-gradient(0deg ,#001b32 , #185f72 , #206c92 , #185f72 ,#001b32);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  max-height: 80vh; /* Restrict height */
  overflow-y: auto; /* Add vertical scroll */
}

.search-bar {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.blog-entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-entry {
  background-color: #fff;
  padding: 20px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.blog-entry h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

.blog-entry p {
  margin: 10px 0 0;
  line-height: 1.6;
  font-size: 16px;
  color: #555;
}

.blog-entry button {
  background-color: #61dafb;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin: 5px;
}

.blog-entry button:hover {
  background-color: #21a1f1;
}

.blog-entry button:nth-of-type(1) {
  position: absolute;
  top: 20px;
  right: 80px;
}

.blog-entry button:nth-of-type(2) {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 768px) {
  .edit-blogs {
    max-width: 90%;
  }

  .blog-entry {
    padding: 15px;
  }

  .blog-entry h3 {
    font-size: 18px;
  }

  .blog-entry p {
    font-size: 14px;
  }

  .blog-entry button {
    padding: 8px;
    font-size: 12px;
  }

  .blog-entry button:nth-of-type(1) {
    top: 15px;
    right: 60px;
  }

  .blog-entry button:nth-of-type(2) {
    top: 15px;
    right: 15px;
  }
}
