/* EditBlogs.css */

.edit-blogs-container {
  display: flex;
  height: calc(100vh - 80px); /* Adjust height to avoid overlapping with header */
  overflow: hidden;
  padding-top: 20px; /* Space for the fixed header */
}

.left-panel {
  flex: 0 0 60%; /* 60% width */
  background-image: linear-gradient(0deg, #001b32, #193d47, #204b63, #193d47, #001b32);
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  border-radius: 15px;
}

.right-panel {
  flex: 0 0 40%; /* 40% width */
  background-image: linear-gradient(0deg, #001b32, #193d47, #204b63, #193d47, #001b32);
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

.search-bar {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.blog-entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-entry {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.blog-entry h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

.blog-entry p {
  margin: 10px 0 0;
  line-height: 1.6;
  font-size: 16px;
  color: #555;
}

.blog-entry img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.blog-entry button {
  background-color: #61dafb;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin: 5px;
}

.blog-entry button:hover {
  background-color: #21a1f1;
}

.recent-blogs {
  padding: 20px;
  box-sizing: border-box;
}

.recent-blogs h2 {
  margin-top: 0;
  font-size: 30px;
  color: #fff;
}

.recent-blogs .blog-entry {
  margin-bottom: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .edit-blogs-container {
    flex-direction: column;
    padding-top: 50px; /* Adjust padding for smaller screens */
  }

  .left-panel, .right-panel {
    flex: 1 0 100%; /* Make each panel take full width on small screens */
    height: auto; /* Allow height to adjust automatically */
    border-right: none; /* Remove border for mobile view */
  }

  .blog-entry {
    padding: 15px;
  }

  .blog-entry h3 {
    font-size: 18px;
  }

  .blog-entry p {
    font-size: 14px;
  }

  .blog-entry button {
    padding: 8px;
    font-size: 12px;
  }
}
