/* src/Header.css */

.header {
  background-color: #282c34;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header-title {
  margin: 0;
}

.header-nav {
  display: flex;
  gap: 10px;
}

.header-button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.header-button:hover {
  background-color: #21a1f1;
}
