/* App.css */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-title {
  margin: 0;
}

.header-nav .header-button {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.content-wrapper {
  display: flex;
  flex: 1;
  padding-top: 20px;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-image: linear-gradient(0deg ,#001b32 , #185f72 , #00547e , #185f72 ,#001b32);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.left-panel, .right-panel {
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding: 10px;
}

.left-panel {
  flex: 0 0 75%;
  border-right: 1px solid #ddd;
}

.right-panel {
  flex: 1;
}

.person-card {
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.person-card:hover {
  background-color: #e0e0e0;
}

.person-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.blog-entry {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-entry img {
  width: 100%;
  border-radius: 10px;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .left-panel, .right-panel {
    flex: 1 0 100%; /* Make each panel take full width on small screens */
    border-radius: 0;
  }
}