.app-wrapper {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fff;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 180px); /* Full height minus header height */
}

.panels-wrapper {
  display: flex;
  width: 100%;
  margin-top: 0; /* Ensure no margin at the top */
}

.left-panel, .right-panel {
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  
}

.left-panel {
  flex: 10px; /* Increase width of left panel */
  background-image: linear-gradient(1deg , #05040c3e, #0f006153, #0f006153, #05040c3e);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  margin-right: 20px;
  margin-left: 20px;
}

.right-panel {
  flex: 1; /* Increase width of right panel */
  background-image: linear-gradient(1deg , #05040c3e, #0f006153, #0f006153, #05040c3e);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  color: #333; /* Dark grey text color for better readability */
  padding: 20px;
  box-sizing: border-box;
}

/* Ensure headings and paragraphs have appropriate colors */
.right-panel h1,
.right-panel h2,
.right-panel h3,
.right-panel h4,
.right-panel h5,
.right-panel h6 {
  color: #333; /* Dark grey for headings */
}

.right-panel p {
  color: #555; /* Slightly lighter grey for paragraph text */
}

.blog-entry img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.blog-entry-form {
  background-color: #fff;
  width: 90%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-entry-form h1 {
  margin-top: 0;
  font-size: 24px;
  color: #000;
}

.blog-entry-form input,
.blog-entry-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.blog-entry-form textarea {
  min-height: 100px;
}

.blog-entry-form button {
  background-color: #3498db;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.blog-entry-form button:hover {
  background-color: #2980b9;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .left-panel, .right-panel {
    flex: 1 0 100%; /* Make each panel take full width on small screens */
    border-radius: 0;
  }
}