/* App.css */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(0deg, #001b32, #185f72, #00547e, #185f72, #001b32);
  color: #fff;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  width: 100%;
  background-image: linear-gradient(1deg, #05040c3e, #0f006153);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-title {
  margin: 0;
}

.header-nav .header-button {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.content-wrapper {
  display: flex;
  flex: 1;
  padding-top: 70px; /* Adjusted for the fixed header height */
  margin-top: 20px; /* Optional: Additional space for aesthetics */
  overflow: hidden;
}

.container {
  display: flex;
  background-image: linear-gradient(0deg, #001b32, #193d47, #204b63, #193d47, #001b32);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.left-panel, .right-panel {
  height: calc(100vh - 80px); /* Adjust height to fit within the content-wrapper */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
}

.left-panel {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column; /* Ensure vertical layout */
  align-items: center;
  border-right: 1px solid #ddd;
  border-radius: 15px;
}

.right-panel {
  flex: 0 0 40%;
  border-radius: 15px;
  box-sizing: border-box;
}


.blog-entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure it takes the full width of the left panel */
}

.blog-entry {
  margin: 20px 0; /* Center entries within the panel */
  padding: 20px; /* Increased padding for better spacing */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  color: #ffffff; /* Ensure text is readable */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  width: 90%; /* Ensure entries take the full width of the panel */
  max-width: 600px; /* Optional: Limit the max width of entries */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    padding-top: 60px; /* Adjust padding for smaller screens */
  }

  .left-panel, .right-panel {
    flex: 1 0 100%; /* Make each panel take full width on small screens */
    border-right: none;
    border-radius: 0;
  }
}
